// Space Helpers
// -----------------------------------------------------------------------------
@for $i from 0 through 10 {
  @each $abbrev, $prop in (t: top, r: right, b: bottom, l: left) {
    .m#{$abbrev}-#{$i} {
      margin-#{$prop}: $i + 0rem !important;
    }

    @each $breakpoint in (xs, sm, md, lg) {
      .m#{$abbrev}-#{$breakpoint}-#{$i} {
        @include breakpoint($breakpoint) {
          margin-#{$prop}: $i + 0rem !important;
        }
      }
    }

    .p#{$abbrev}-#{$i} {
      padding-#{$prop}: $i + 0rem !important;
    }
  }
}
