// Comment
// -----------------------------------------------------------------------------
.comment {

  .panel {
    position: relative;

    &-heading {

      &:before,
      &:after {
        border-color: transparent;
        border-style: solid solid outset;
        content: '';
        display: none;
        height: 0;
        left: -16px;
        pointer-events: none;
        position: absolute;
        right: 100%;
        top: 11px;
        width: 0;

        @include breakpoint(sm) {
          display: block;
        }
      }

      &:before {
        border-right-color: #ddd;
        border-width: 8px;
      }

      &:after {
        border-right-color: #f7f7f7;
        border-width: 7px;
        margin-left: 2px;
        margin-top: 1px;
      }
    }
  }

  h4 {
    margin-top: 0;
  }

  .links {
    margin: 0;

    li {

      a {
        background-color: $gray-lighter;
        padding: 5px 8px;
      }
    }
  }
}

.indented {
  padding-left: 2em;
}

.indented .indented .indented .indented .indented {
  padding-left: 0;
}

.comment-form {

  > details {
    display: block !important;

    fieldset {
      margin-top: 1em;

      legend {
        font-size: 14px;
      }
    }
  }
}

.comment--unpublished {
  margin-right: 5px; /* LTR */
  padding: 5px 2px 5px 5px; /* LTR */
  background: #fff4f4;
}
[dir="rtl"] .comment--unpublished {
  margin-left: 5px;
  margin-right: 0;
  padding: 5px 5px 5px 2px;
}
