{#
/**
 * @file
 * Template for a slide item.
 */
#}
{% set url = content.field_roundearth_carousel_link[0]['#url'] %}
{% if url %}
  <a href="{{ content.field_roundearth_carousel_link[0]['#url'] }}">
{% endif %}
    <div style="background-image: url({{ file_url }})" class="carousel-image">

      <div class="carousel-caption">
        {% if content.field_roundearth_carousel_title %}
          <h3>{{ content.field_roundearth_carousel_title }}</h3>
        {% endif %}

        {% if content.field_roundearth_carousel_body %}
          {{ content.field_roundearth_carousel_body }}
        {% endif %}
      </div>
    </div>
{% if url %}
  </a>
{% endif %}

