{#
/**
 * @file
 * Template for a feedback paragraph.
 */
#}
<div class="feedback mh">
  {{ content.field_roundearth_events_body }}

  {% if content.field_roundearth_events_title %}
    <strong>— {{ content.field_roundearth_events_title[0] }}</strong>
  {% endif %}
</div>
