{#
/**
 * @file
 * Template for an event speaker.
 */
#}
<article class="contact">
  <div class="row">
    {% if content.contact.image_URL %}
      <div class="col-sm-3 pr-0">
        <img src="{{ content.contact.image_URL }}"
             class="contact__image"/>
      </div>
    {% endif %}
    <div class="col-sm-{{ content.contact.image_URL ? '9' : '12' }}">
      {% if content.contact.display_name %}
        <span class="contact__name">
        {{ content.contact.display_name }}
      </span>
      {% endif %}

      {% if content.contact.job_title or content.contact.current_employer or content.affiliation %}
        <div class="contact__position">
          {% if content.affiliation %}
            {{ content.affiliation }}
          {% else %}
            {{ content.contact.job_title }}
            {{ content.contact.current_employer }}
          {% endif %}
        </div>
      {% endif %}

      {% if content.contact.bio %}
        <button class="contact__bio__link">
          {{ "See biography"|t }} <i class="fa fa-plus-circle"></i>
        </button>
      {% endif %}
    </div>
  </div>

  {% if content.contact.bio %}
    <div class="contact__bio__content">
      {{ content.contact.bio }}
    </div>
  {% endif %}
</article>
