// Component: Registration box.
// -----------------------------------------------------------------------------
.registration-boxes {
  display: flex;
  flex-direction: column;
  
  @include breakpoint(sm) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.registration-box {
  background-color: white;
  padding: 1.5rem;
  margin: 0 auto;
  width: 100%;
  
  + .registration-box {
    margin-top: 2rem;
    
    @include breakpoint(sm) {
      margin-top: 0;
    }
  }

  @include breakpoint(sm) {
    margin: 0 1rem;
  }

  @include breakpoint(md) {
    margin: 0 2rem;
    width: 360px;
  }

  &__price {
    font-size: 2.6rem;
    line-height: 100%;
    font-weight: 600;

    @include breakpoint(lg) {
      font-size: 3rem;
    }
  }

  &__tax {
    font-size: .85rem;
    display: block;
  }

  &__label {
    font-size: 1.4rem;
    line-height: 120%;
    color: $brand-primary;
    display: block;
    text-align: center;
  }

  .is-member {
    text-decoration: underline;
  }

  ul {
    padding: 30px 15px;
    margin: 30px 0;
    position: relative;

    &:before,
    &:after {
      background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(170,170,170,.65) 50%,rgba(0,0,0,0) 100%) rgba(0,0,0,0);
      content: '';
      height: 1px;
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      z-index: 1;
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }

    li {
      list-style: none;
      font-size: 1.6rem;
      padding-left: 15px;
      position: relative;

      + li {
        margin-top: 15px;

        a {
          color: #4E80C0;

          &:hover,
          &:focus {
            text-decoration: underline;
          }
        }
      }

      &:before {
        content: '\f0da';
        font-family: "FontAwesome";
        position: absolute;
        left: 0;
      }

      &.text-muted {
        color: #eee;

        a {
          color: #eee;
          pointer-events: none;
        }
      }
    }
  }

  &__footer {
    margin-top: 1rem;
    padding-top: 1rem;
    position: relative;

    &:before {
      background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(170,170,170,.65) 50%,rgba(0,0,0,0) 100%) rgba(0,0,0,0);
      content: '';
      height: 1px;
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      z-index: 1;
      top: 0;
    }
  }

  &__button {
    font-size: 1.1rem;
    text-transform: uppercase;
    display: block;
    padding: .5rem 1.5rem;
    background-color: $brand-primary;
    border-color: $brand-primary;
    height: auto;
    color: $white;

    &:hover {
      background-color: $brand-secondary;
      border-color: $brand-secondary;
      color: $white;
    }
  }

  &--default {

    .registration-box {

      &__label {
        color: $brand-info;
      }

      &__button {
        background-color: $brand-info;
        border-color: $brand-info;

        &:hover {
          background-color: $brand-secondary;
          border-color: $brand-secondary;
          color: $white;
        }
      }
    }
  }
}
